<div data-postid="<%= post.postid %>" class="post">
   <div class="link">
      <p class="title">
         <a href="<%= post.url %>" target="_blank"><%= post.title %></a>
      </p>
      <p class="description">
         <%= post.description || '' %>
      </p>
      <p class="user">
         Posted by: <%= post.User.email %>
      </p>

      <span class="comments-link">
         <% if (post.Comments.length) { %>
            <i class="fa fa-comment"></i>
         <% } else { %>
            <i class="fa fa-comment-o"></i>
         <% } %>
      </span>
   </div>

   <% include comments %>
</div>
